<html>
    <head>
        <title>Error</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <body>
        <div class='container'>
            <h2>These Contacts Were Not Deleted!</h2>
            {% if undeleted_contacts is not empty %}
                <ul>
                    {% for contact in undeleted_contacts %}
                        <h4><li>{{ contact.getName }}</li></h4>
                        <ul>
                            <li>{{ contact.getPhoneNumber }}</li>
                            <li>{{ contact.getAddress }}</li>
                        </ul>
                    {% endfor %}
                </ul>
            {% endif %}
            <p><a href='/'>Home<a></p>
        </div>
    </body>
</html>
