<html>
    <head>
        <title>Cleared Address Book</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    </head>
    <body>
        <h2>Address Book Cleared!</h2>
        <p><a href='/'>Home</a></p>
    </body>
</html>
